@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--primary: #922790;
	--secondary: #EA63AA;
	--success: #00C853;
	--text: #7B7B7B;
	--bg: #F2F2F2;
	--bgRgba: 242, 242, 242;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: normal;
	overflow-x: hidden;
	background: var(--bg);
}

.primary {
	color: var(--primary);
}

.secondary {
	color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: var(--primary);
}

h2 {
	font-size: 1.5rem;
}

p,
ul {
	font-size: 1rem;
	font-weight: 300;
	color: var(--text);
}

main {
	overflow-x: hidden;
}

section {
	padding: 10rem 0;
	overflow: hidden;
	max-width: 100rem;
	width: 100%;
	position: relative;
}

nav {
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	position: fixed;
	z-index: 2;
	top: -1.5rem;
	right: -1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 10rem;
	background: var(--secondary);
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

nav.open {
	width: 20rem;
	max-width: calc(100vw - 4rem);
	height: calc(100% - 4rem);
	padding: 1rem;
	top: 1rem;
	right: 1rem;
	border-radius: 2rem;
	cursor: initial;
}

nav>* {
	opacity: 0;
	display: none;
	transition: .3s ease-in-out;
}

nav.open>* {
	display: block;
}

nav.isOpen * {
	opacity: 1;
}

nav ul {
	width: 100%;
	flex: 1;
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

nav.open>ul {
	display: flex;
}

nav a {
	font-weight: 400;
	font-size: 1.2rem;
	position: relative;
	color: var(--bg);
	text-decoration: none;
}

nav a::before,
nav a::after {
	content: '';
	width: 0rem;
	height: .2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: var(--primary);
	transition: .3s ease-in-out;
}

nav a::before {
	right: calc(100% + 1rem);
}

nav a::after {
	left: calc(100% + 1rem);
}

nav a:hover::after,
nav a:hover::before {
	width: 2rem;
}


nav button {
	width: 100%;
	height: 3rem;
	border: 1px solid var(--primary);
	border-radius: 1rem;
}

#menu-button {
	width: 2rem;
	height: 2rem;
	padding: 0;
	border: none;
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 100;
	cursor: pointer;
	border-radius: 10rem;
	background: transparent;
	transition: .3s ease-in-out;
}

#menu-button.open {
	top: 2.5rem;
	right: 2.5rem;
}

#menu-button div,
#menu-button div::after,
#menu-button div::before {
	content: '';
	width: 100%;
	height: .25rem;
	position: absolute;
	border-radius: .5rem;
	background: var(--bg);
	transition: 0.3s ease-in-out;
}

#menu-button div {
	top: 50%;
	transform: translateY(-50%);
}

#menu-button.open div {
	transform: translateY(-50%) rotate(45deg);
}

#menu-button div::before {
	left: 0;
	bottom: 200%;
}

#menu-button.open div::before {
	bottom: 0;
	transform: rotate(90deg);
}

#menu-button div::after {
	left: 0;
	top: 200%;
}

#menu-button.open div::after {
	top: 0;
	transform: rotate(90deg);
}

button {
	width: fit-content;
	padding: .7rem 1rem;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .7rem;
	cursor: pointer;
	color: var(--bg);
	background: var(--primary);
	transition: .3s ease-in-out;
}

button.text {
	padding: .5rem 1.5rem;
	color: var(--primary);
	background: transparent;
	border: 1px solid var(--primary);
}

button ion-icon {
	margin-left: .5rem;
	transition: .3s ease-in-out;
}

button:hover {
	background: var(--secondary);
}

button.text:hover {
	color: var(--secondary);
	background: transparent;
	border: 1px solid var(--secondary);
}

button:hover ion-icon {
	margin-left: 1rem;
}

@media (max-width: 600px) {
	h2 {
		font-size: 1.2rem;
	}

	p {
		font-size: .9rem;
	}
}